:root {
    --background-color: #ffffff;
    --default-color: #212529;
    --heading-color: #2d465e;
    --accent-color: #5777ba;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}

body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3 {
    color: var(--heading-color);
}

.nav-link {
    color: var(--heading-color);
    font-weight: bold;
}

.icon {
    color: #2d465e;
    margin-right: 10px;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: var(--background-color);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
}

.header .logo h1 {
    font-size: 36px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
}

.hero {
    width: 100%;
    min-height: 50vh;
    position: relative;
    padding: 45px 0 45px 0;
}

.hero h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 56px;
}

.hero p {
    color: rgba(33, 37, 41, 0.7);
    margin: 15px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.custom-btn {
    background-color: #5D7BB8;
    border-color: #5D7BB8;
    color: #fff;
    transition: all 0.3s ease;
    padding: 10px 20px;
    font-size: 16px;
}

.custom-btn:hover {
    background-color: #bbd0f0;
    border-color: #5D7BB8;
    color: #fff;
}

.btn-outline-custom {
    color: #5D7BB8;
    border-color: #5D7BB8;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-outline-custom:hover {
    background-color: #5D7BB8;
    color: white;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn {
    margin-top: 7px; /* Ensures space between buttons */
}

.admin-login-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem; /* Adjust spacing as needed */
}


@media (max-width: 768px) {
    .hero h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .hero p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}